[submodule "backend"]
	path = backend
	url = git@github.com:beda-software/devdays2020-sdc-demo-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:beda-software/devdays2020-sdc-demo-frontend.git
