[submodule "backend"]
	path = backend
	url = https://gitlab.bro.engineering/devdays2020/backend.git
[submodule "frontend"]
	path = frontend
	url = https://gitlab.bro.engineering/devdays2020/frontend.git
